@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-style: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 179%;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.17em;
}
a {
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}

.contener {
    margin: 0px auto;
    max-width: 940px;
}

/* ----------header--------- */
.header__div {
    display: flex;
    justify-content: space-around;
    padding-top: 17px;
    padding-bottom: 18px;
}

.header__logo {
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.16em;
    color: #69b9ff;
}

.header__div-div {
    display: flex;
    justify-content: space-around;
    width: 183px;
}

.header__link {
    font-size: 15px;
    line-height: 133%;
    color: #676770;
    text-transform: none;
}

/* ----------main__registration--------- */
.registration {
    background-image: url('../Img/unsplash_kwXwZxKVgao.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #ffffff;
    background-color: #2D323F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 195px 0;
}

.registration__div {}

.registration__h1 {
    font-size: 59px;

    line-height: 102%;
    letter-spacing: 0.07em;
}

.registration__div-butten {
    padding-top: 106px;
}

.registration__a1 {
    padding: 12px 30px;
    background-color: #69B9FF;
    border-radius: 5px;

    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.12em;
    margin-right: 10px;
}

.registration__a2 {
    margin-left: 10px;

    border-color: black;

    outline-style: solid;
    outline-width: 1px;
    border-radius: 5px;
    padding: 11px 31px;

    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.12em;
}

/* ----------main__lessons--------- */
.lessons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 585px;
}

.lessons__div {}

.lessons__h2 {
    color: #676770;
}

.lessons__p {
    margin-top: 17px;
    font-size: 17px;
    line-height: 118%;
    letter-spacing: 0.18em;
    color: #8e8e9c;
}

.lessons__blocs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 60px;
}

.lessons__blocs-bloc {
    border: 1px solid #dcebf7;
    border-radius: 5px;
}

.border {
    padding: 0px 16px;
    padding-bottom: 23px;
    padding-top: 36px;
}

.lessons__img {}

.lessons__h3 {
    margin-top: 19px;
    margin-bottom: 14px;
    line-height: 150%;
    letter-spacing: 0.35em;
    color: #676770;
}

.lessons__p1 {
    /* margin-bottom: 23px; */
    font-size: 14px;
    line-height: 179%;
    color: #6a859c;
}

/* ----------main__services--------- */
.services {
    background-color: #192024;
    color: #fff;
    padding-top: 77px;
    padding-bottom: 80px;
}

.services__div {}

.services__h2 {
    margin-bottom: 17px;
}

.services__hp {
    font-size: 17px;
    line-height: 118%;
    letter-spacing: 0.18em;
    color: #e8e8e8;

}

.services__blocs {
    padding-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.services__img {
    max-width: 430px;
    max-height: 287px;
}

.services__bloc {}

.services__h3 {
    margin-top: 20px;
    line-height: 150%;
    letter-spacing: 0.35em;
    color: #fff;
}

.services__p {
    max-width: 395px;
    font-size: 14px;
    line-height: 179%;
    color: #fff;
    text-transform: none;
    margin: 23px 30px 17px 30px;
}

.services__link {
    padding: 11px 31px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* ----------main__tabSection--------- */
.tabSection {
    padding: 80px 0px;
}

.tabSection__h2 {
    color: #676770;
    padding-bottom: 17px;
}

.tabSection__p {
    font-size: 17px;
    line-height: 118%;
    letter-spacing: 0.18em;
    color: #8e8e9c;
}

.block {
    margin-top: 62px;
    padding: 12px 0px;
    margin-bottom: 40px;
}

.block__button {
    border-radius: 4px;
    width: 196px;
    height: 21px;
    background-color: #92A0AD;
    text-transform: uppercase;
}

.tabSection__img {
    height: 627px;
}

.descriptio {}

.descriptio__h2 {
    font-size: 31px;
    line-height: 116%;
    color: #676770;
    margin-top: 16px;
    margin-bottom: 14px;
}

.descriptio__p {
    font-size: 13px;
    line-height: 192%;
    color: #6a859c;
    text-transform: none;
}

/* ----------main__contact--------- */
.contact {
    text-align: left;
}

.contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact__div-p {
    padding-right: 34px;
}

.contact__h3 {
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.22em;
    color: #676770;
}

.contact__p {
    padding-top: 25px;
    text-transform: none;
    font-size: 14px;
    line-height: 179%;
    color: #6a859c;
}

.contact__div-link {
    padding-right: 9px;
}

.contact__div-link .contact__h3 {
    padding-bottom: 22px;
}

.div__links {
    font-size: 13px;
    line-height: 154%;
    color: #668cad;
}

.contact__div .contact__h3 {
    margin-bottom: 22px;
}

.contact__div .contact__hr {
    width: 270px;
}

.contact__hr {
    width: 300px;
    height: 1px;
    background: #D5D5E0;
}

.social__div {
    display: inline-flex;
    align-items: start;
}

.div__img {}

.div__link {
    margin-left: 10px;
    font-size: 14px;
    line-height: 143%;
    color: #668cad;
}

/* ----------footer--------- */
footer {
    margin-top: 35px;
    background-color: #383838;
    color: #9E9E9E;
    padding: 40px 0px;

    font-size: 15px;
    line-height: 133%;
    text-transform: none;
}